extends layout.pug

block content
    .image-bg
        .container 
            .home 
                p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service  
                a(href="/addStudent")
                    button(type="button") Add Student     