.image-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.ytimg.com/vi/Qm00fljeOBw/maxresdefault.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home {
  width: 100%;
  padding-top: 100px;
}

.home p {
  width: 87%;
  background: #121fcf;
  background: linear-gradient(to right, #fff 0%, #efba6f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 15px;
}

.home button {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #e97f02;
  color: #0000;
  border: none;
  transform: perspective(600px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}
.home button:hover,
.home button:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.home button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}
.home button {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}
